{% extends 'dashboardheader.html'%}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Mentor Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/9e539bc9e3.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-link {
            color: black;
            transition: background 0.2s ease;
        }

        .nav-link:hover {
            background-color: #dbeafe; /* light blue */
            color: #1d4ed8; /* text blue */
            border-radius: 8px;
        }

        .dropdown-opt {

            background-color: #064c89;
            color: white;
            padding: 8px;
            border-radius: 5px;
            font-size: 16px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .active-link {

            background: rgb(49, 112, 222);
            color: white;
        }

        .dropdown-opt option {
            background: lightgray;
            color: black;
        }


        @media (max-width:768px) {
            .sm-none {
                display: none;
            }
        }

        .content-section {
            display: none;
        }

        .content-section.active {
            display: block;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-12 col-lg-2 bg-light d-flex flex-column min-vh-90 p-3">
                <nav class="nav flex-column flex-grow-1">
                    <a class="nav-link {% if request.path == '/AdminDashboard/admin_dashboard/' %}active-link{% endif %}" href="{% url 'admin_dashboard' %}">
                        <i class="fa-solid fa-gauge me-2"></i>Dashboard
                    </a>

                    <a class="nav-link {% if request.path == '/AdminDashboard/analytics/' %}active-link{% endif %}" href="{% url 'analytics' %}">
                        <i class="fa-solid fa-chart-simple me-2"></i>Analytics
                    </a>

                    <a class="nav-link {% if request.path == '/AdminDashboard/user_management/' %}active-link{% endif %}" href="{% url 'user_management' %}">
                        <i class="fa-solid fa-user-group me-2"></i>User Management
                    </a>

                    <a class="nav-link {% if request.path == '/AdminDashboard/project_moderation/' %}active-link{% endif %}" href="{% url 'project_moderation' %}">
                        <i class="fa-solid fa-diagram-project me-2"></i>Project Moderation
                    </a>

                    <a class="nav-link {% if request.path == '/AdminDashboard/content_moderation/' %}active-link{% endif %}" href="{% url 'content_moderation' %}">
                        <i class="fa-solid fa-list-check me-2"></i>Content Moderation
                    </a>
                    <hr class="sm-none">
                    <a class="nav-link" href="#"><i class="fa-solid fa-inbox me-2"></i>Inbox</a>

                    <!-- Space for larger screens only -->
                    <div class="d-none d-md-block flex-grow-1"></div>

                    <hr class="sm-none">
                    <a class="nav-link" href="#"><i class="fa-solid fa-gear me-2"></i>Settings</a>
                    <a class="nav-link" href="#"><i class="fa-solid fa-power-off me-2"></i>Logout</a>
                </nav>
            </div>

            <!-- right section -->
            <div class="col-12 col-md-9 col-lg-10 p-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Analytics</h4>

                    <select class="dropdown-opt" onchange="window.location.href=this.value;">
                        <option value="">Select User Type</option>
                        <option value="{% url 'analytics' %}">Professional User</option>
                        <option value="{% url 'organization' %}">Organization User</option>
                        <option value="{% url 'mentor_user' %}">Mentor</option>
                    </select>


                </div>

                <div class="card">
                    <div class="card-header d-flex">
                        <button class="btn btn-outline-primary me-2 px-4 py-3"
                            onclick="showSection('course')">courses</button>
                        <button class="btn btn-outline-secondary px-5 py-3" onclick="showSection('mentee')">Mentee</button>
                    </div>

                    <div class="row mt-4 ">
                        <div class="col-10 col-md-6  mx-3">
                            <div class="position-relative">
                                <input type="text" class="form-control ps-5" placeholder="Search Organization">
                                <i
                                    class="fa-solid fa-magnifying-glass position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></i>
                            </div>
                        </div>
                    </div>

                    <div class=" mt-3">
                        <!-- course section -->
                        <div id="course" class="content-section active p-3">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>Course Title</th>
                                            <th>Mentor Name</th>
                                            <th>Watch Time</th>
                                            <th>Total Enrollment</th>
                                            <th>Published on</th>
                                            <th>Course Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Film Making for beg</td>
                                            <td>Christine Brooks</td>
                                            <td>37999</td>
                                            <td>72655</td>
                                            <td>26 Feb,2025</td>
                                            <td>4.7</td>
                                        </tr>
                                        <tr>
                                            <td>Essential skills</td>
                                            <td>Rosie Pearson</td>
                                            <td>29333</td>
                                            <td>27345</td>
                                            <td>25 Feb,2025</td>
                                            <td>4.2</td>
                                        </tr>
                                        <tr>
                                            <td>career path</td>
                                            <td>Darrell Caldwell</td>
                                            <td>27465</td>
                                            <td>45989</td>
                                            <td>13 Feb,2025</td>
                                            <td>4.5</td>
                                        </tr>
                                        <tr>
                                            <td>How to become..</td>
                                            <td>Gilbert Johnston</td>
                                            <td>26884</td>
                                            <td>43897</td>
                                            <td>27 Feb,2025</td>
                                            <td>4.2</td>
                                        </tr>
                                        <tr>
                                            <td>Python Foundations</td>
                                            <td>Alan Cain</td>
                                            <td>25647</td>
                                            <td>147908</td>
                                            <td>22 Feb,2025</td>
                                            <td>4.3</td>
                                        </tr>
                                        <tr>
                                            <td>Benifits of learning</td>
                                            <td>Alfred Murray</td>
                                            <td>24555</td>
                                            <td>45236</td>
                                            <td>17 Feb,2025</td>
                                            <td>4.5</td>
                                        </tr>
                                        <tr>
                                            <td>Spring Boot </td>
                                            <td>Maggie Sullivan</td>
                                            <td>19003</td>
                                            <td>42153</td>
                                            <td>16 Feb,2025</td>
                                            <td>3.2</td>
                                        </tr>
                                        <tr>
                                            <td>Figma Template</td>
                                            <td>Rosie Todd</td>
                                            <td>15837</td>
                                            <td>46235</td>
                                            <td>21 Feb,2025</td>
                                            <td>4.2</td>
                                        </tr>
                                        <tr>
                                            <td>Web Design</td>
                                            <td>Dollie Hines</td>
                                            <td>12039</td>
                                            <td>43254</td>
                                            <td>22 Feb,2025</td>
                                            <td>3.8</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Mentee section -->
                        <div class="col-lg-8">
                        <div id="mentee" class="content-section p-3 ">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>Mentor Name</th>
                                            <th>Total Mentee</th>
                                            <th>Price</th>
                                            <th>Mentor Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <!-- name -->
                                            <td>Christine Brooks</td>                               
                                            <td>120</td>
                                            <td>399</td> 
                                            <td>4.2</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Rosie Pearson</td>
                                            <td>122</td>
                                            <td>29333</td>
                                            <td>3.2</td>
                                        </tr>
                                        <tr>
                                            <td>Darrell Caldwell</td>
                                            <td>150</td>
                                            <td>27465</td>
                                            <td>4.4</td>
                                        </tr>
                                        <tr>
                                            <td>Gilbert Johnston</td>
                                            <td>145</td>
                                            <td>26884</td>
                                            <td>4.3</td>
                                        </tr>
                                        <tr>
                                            <td>Alan Cain</td>
                                            <td>91</td>
                                            <td>25647</td>
                                            <td>4.1</td>
                                        </tr>
                                        <tr>
                                            <td>Alfred Murray</td>
                                            <td>80</td>
                                            <td>24555</td>
                                            <td>4.6</td>
                                        </tr>
                                        <tr>
                                            <td>Maggie Sullivan</td>
                                            <td>79</td>
                                            <td>19003</td>
                                            <td>4.3</td>
                                        </tr>
                                        <tr>
                                            <td>Rosie Todd</td>
                                            <td>86</td>
                                            <td>15837</td>
                                            <td>4.5</td>
                                        </tr>
                                        <tr>
                                            <td>Dollie Hines</td>
                                            <td>84</td>
                                            <td>12039</td>
                                            <td>3.2</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

        <!-- script js-->
        <script>
                 const showSection = (sectionId) => {
                // Remove 'active' class from all buttons
                document.querySelectorAll('.card-header .btn').forEach(btn => {
                    btn.classList.remove('active');
                });

                // Activate the clicked button
                const clickedButton = event.target;
                clickedButton.classList.add('active');

                // Show the corresponding content section
                document.querySelectorAll('.content-section').forEach(section => {
                    section.classList.remove('active');
                });
                document.getElementById(sectionId).classList.add('active');
            }
        </script>
</body>

</html>
{% endblock %}